<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello</h1>
  <form method="post" action="/">
    <input type="number" id="red" name="red" placeholder="red" />
    <input type="number" id="green" name="green" placeholder="green" />
    <input type="number" id="blue" name="blue" placeholder="blue" />
    <button type="submit">Submit</button>
  </form>
</body>
</html>